.tokens-grid {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    overflow: hidden;
    border-collapse: collapse;
}

.tokens-grid thead th{
    padding: 0.75rem 1rem;
    text-align: left;
}

.tokens-grid tbody td{
    padding: 0.75rem 1rem;
    color: #94a3b8;
    border-bottom: 1px solid #1D2436;
}

.tokens-grid tbody td:nth-child(1) {
    width: 63px;
}

.tokens-grid tbody td:nth-child(2) {
    width: 102px;
}

.tokens-grid tbody td:nth-child(3) {
    width: 76px;
}


